mixin playlistCard(playlist = {})
	.column.is-4
		.card
			header.card-header
				p.card-header-title
					img.avatar(src=`${playlist.images[0].url}`)
					|               
					span=`${playlist.name}`
				span.card-header-icon.timestamp
					| 2m
			.card-image
				figure.image.is-4by3
					if playlist.images[0] != undefined
						img(src=`${playlist.images[0].url}`, alt='Image')
					else
						img(src="../images/Spotify_Icon_RGB_Black.png", alt='Image2323')
			.card-content
				.panel-block-item
					a(href=`${playlist.owner.id}/${playlist.id}` value=).button View Playlist Artists
						
